body {
  margin: 20px;
}

#signatureForm {
  margin: 0 50px;
  display: inline-block;
  vertical-align: middle;
}

#signatureForm tr td:nth-child(2) {
  text-align: right;
}

#signatureForm tr td:last-child {
  padding: 0;
}

#signatureForm tr td:last-child * {
  box-sizing: border-box;
  width: 230px;
}

#m33-planet-choice {
  height: 80px;
  line-height: 80px;
  margin: 0 0 30px 50px;
}
#m33-planet-choice div {
  height: 100%;
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
#m33-planet-choice img {
  max-height: 80px;
  max-width: 80px;
  vertical-align: middle;
}
#m33-planet-choice div:hover {
  border-bottom: 3px solid black;
}

#jobHelp {
  cursor: help;
  margin-left: 1em;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
}

#theodo-signature, #bam-signature {
  display: inline-block;
  vertical-align: middle;
}

#tutorial {
  border-collapse: collapse;
  width: 100%;
}

#tutorial tr {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

#tutorial tr td > ol {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
}

#tutorial tr td ul {
  list-style-type: square;
}

#tutorial tr td img {
  vertical-align: middle;
  max-height: 400px;
  max-width: 600px;
}

strong {
  color: red;
}

.hidden {
  display: none;
}
